# phantomjs_cdnurl=https://npmmirror.com/dist/phantomjs
# chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
# sass_binary_site=https://npmmirror.com/mirrors/node-sass
# ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
# NVM_NODEJS_ORG_MIRROR=https://npmmirror.com/mirrors/node
# CHROMEDRIVER_CDNURL=https://npmmirror.com/mirrors/chromedriver
# OPERADRIVER=https://npmmirror.com/mirrors/operadriver
# ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
# PYTHON_MIRROR=https://npmmirror.com/mirrors/python
# strict-ssl=false
# registry=https://registry.npmmirror.com/
# sharp_libvips_binary_host=https://ghproxy.com/https://github.com/lovell/sharp-libvips/releases/download
